<h3>Select Workout Type:</h3>

<!-- <div class="btn btn-primary">
  AMRAP
</div>
<div class="btn btn-primary">
  Rounds for Time
</div>
<div class="btn btn-primary">
  Max Reps
</div>
<div class="btn btn-primary">
  Strength
</div> -->

<%= render "form" %>
