<h1>CROSSFIT</h1>

<p>Hello,</p>

<p>Welcome to crossfit tracker!  Click the link below to activate your account:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
