<div class="workouts">
<h2>Strength</h2>
  <% @workouts.each do |workout| %>
  <% if workout.strength %>
  <% workout.strength.each do |strength| %>
  <div class="workout">
    <%= link_to workout.date.strftime("%A, %B %d, %Y"), workout_path(workout) %>
    <div>
      <%= link_to strength.movement, workout_strength_path(workout, strength) %>
      <p class="rft-score"><%= pluralize(strength.sets, "Set") %> of <%= strength.reps %></p>

    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
