<% @workouts.each do |workout| %>
<% if workout.amrap %>
  <% workout.amrap.each do |amrap| %>
  <div>
  <%= link_to workout.date, workout_path(workout) %>
  <% if amrap.name %>
  <%= link_to "#{amrap.name} - #{amrap.time} AMRAP", workout_amrap_path(workout, amrap) %>
  <% else %>
    <%= link_to "#{amrap.time} AMRAP", workout_amrap_path(workout, amrap) %>
    <% end %>
  <%= amrap.score %>
</div>
  <% end %>
  <% end %>
<% end %>
