<h3>Barbell Math</h3>

<div class="btn btn-primary plates-div">
  Tell me what I need
</div>

<div class="btn btn-primary weight-div">
  Tell me what I have
</div>

<div class="form">

</div>

<div class="results">

</div>
