<%= content_for(:body_class) { "weight_calculator"} %>
<div class="weight-header">
  <h3>Barbell Math</h3>
<div class="buttons">
  <div class="btn btn-primary plates-div">
    Tell me what I need
  </div>

  <div class="btn btn-primary weight-div">
    Tell me what I have
  </div>
</div>

</div>

<div class="form">

</div>

<div class="results">
</div>

<div class="barbell-container">
  <div class="bar left">
    <div id="barLeft"></div>
  </div>
  <div class="bar center">
    <div class="barStop"></div>
    <div id="barCenter"></div>
    <div class="barStop"></div>
  </div>
  <div class="bar right">
    <div id="barRight">
    </div>
  </div>
</div>
