@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "weight_calculator";
@import "workouts";
@import "amraps";

* {
  box-sizing: border-box;
}

.container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
