@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "weight_calculator";

*{
  box-sizing: border-box;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
}
