// Place all the styles related to the WeightCalculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.barbell-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  max-width: 680px;
  width: 99vw;
  align-self: center;
}

.bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.left {
  width: 30%;
  span {
    transform: rotate(90deg);
  }
}

.right {
  width: 30%;
  span {
    transform: rotate(-90deg);
  }
}

.center {
  width: 40%;
}

.plate-45 {
  border: 1px solid gray;
  height: 125px;
  max-width: 30px;
  min-width: 1em;
  width: 20%;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: .1em;
}

.plate-25 {
  border: 1px solid gray;
  height: 125px;
  max-width: 25px;
  min-width: 1em;
  width: 20%;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-15 {
  border: 1px solid gray;
  height: 125px;
  max-width: 25px;
  min-width: 1em;
  width: 17%;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-10 {
  border: 1px solid gray;
  height: 125px;
  max-width: 25px;
  min-width: 1em;
  width: 15%;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-5 {
  border: 1px solid gray;
  height: 75px;
  max-width: 15px;
  min-width: 1em;
  width: 10%;
  border-radius: 3px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-2-5 {
  border: 1px solid gray;
  height: 75px;
  max-width: 15px;
  min-width: 1em;
  border-radius: 3px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#barLeft {
  height: 30px;
  width: 100%;
  border: solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#barRight {
  height: 30px;
  width: 100%;
  border: solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#barCenter {
  height: 20px;
  width: 92%;
  border: solid;
}

.barStop {
  border: solid;
  height: 40px;
  width: 4%;
}

// .plateRack {
//   display: flex;
//   width: 50%;
//   justify-content: space-around;
//   align-items: flex-end;
// }

.plateRack {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
  align-items: center;
  span {
    transform: rotate(90deg);
  }
}

form.plates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

form.weight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weight-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h3 {
    margin-top: 0;
  }
}

.total-weight-input {
  display: flex;
  flex-direction: column;
  input {
    text-align: center;
    margin-bottom: .75em;
  }
}

.error {
  color: red;
}

.weight-selections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  label {
    flex-basis: 10%;
    font-size: 1.2em;
  }
}

.barweight-selections {
  label {
    font-size: 1.2em;
    margin: 5px;
  }
}

@media screen and (max-width: 700px) {
  .weight-selections {
    label {
      flex-basis: 30%;
    }
  }
}
