// Place all the styles related to the WeightCalculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.barbell-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.plate-45 {
  border: 1px solid gray;
  height: 125px;
  width: 30px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-25 {
  border: 1px solid gray;
  height: 125px;
  width: 25px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-15 {
  border: 1px solid gray;
  height: 125px;
  width: 25px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-10 {
  border: 1px solid gray;
  height: 125px;
  width: 25px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-5 {
  border: 1px solid gray;
  height: 75px;
  width: 15px;
  border-radius: 3px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-2-5 {
  border: 1px solid gray;
  height: 75px;
  width: 15px;
  border-radius: 3px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#barLeft {
  height: 30px;
  width: 150px;
  border: solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#barRight {
  height: 30px;
  width: 150px;
  border: solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#barCenter {
  height: 20px;
  width: 350px;
  border: solid;
}

.barStop {
  border: solid;
  height: 40px;
  width: 15px;
}

.plateRack {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: flex-end;
}

.horizontal-plate-45 {
  border: 1px solid gray;
  height: 30px;
  width: 125px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-plate-25 {
  border: 1px solid gray;
  height: 25px;
  width: 125px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-plate-15 {
  border: 1px solid gray;
  height: 25px;
  width: 125px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-plate-10 {
  border: 1px solid gray;
  height: 25px;
  width: 125px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-plate-5 {
  border: 1px solid gray;
  height: 15px;
  width: 75px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-plate-2-5 {
  border: 1px solid gray;
  height: 15px;
  width: 65px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plateRack {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stack {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

form.plates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form.weight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results {
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  height: 10vh;
}

.weight-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-weight-input {
  display: flex;
  flex-direction: column;
  input {
    text-align: center;
    margin-bottom: .75em;
  }
}

.form {
  height: 30vh;
}

.error {
  color: red;
}
