.workouts {
  text-align: center;
}

.workout {
  font-size: 1.5em;
  margin: 1em;
}

.workout-details {
  display: flex;
  justify-content: center;
}
.workout-image {
  height: 1.5em;
  width: 1.5em;
  margin: .5em;
}
